@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  /* background: linear-gradient(179deg,rgba(14, 105, 59, 0.85) 9%, rgba(191, 98, 98, 0.95) 54%, rgba(242, 224, 27, 0.53) 83%); */
  height: 100%;
  width: 100vw;
  background: url("/assets/hero-image.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* overflow-x: hidden; */
}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #fff;
  opacity: 0.6;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo img {
  height: 50px;
  width: 50px;
}

nav .nav-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.nav-items a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-weight: 600;
}

.btn button {
  background: #000;
  color: #fff;
  padding: 10px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

nav #menu-icon,
#mobile-menu {
  display: none;
}

li {
  list-style-type: none;
}

/* prompt area */

main {
  position: fixed;
  bottom: 0;
  padding: 40px;
  width: 100%;
}

.prompt-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.prompt-input textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  outline: none;
  border: none;
}

.prompt-input button {
  background: #000;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 426px) {
  .container {
  height: 100dvh;
}
  .container nav {
    padding: 10px 20px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .logo img {
    height: 25px;
    width: 25px;
  }

  .logo h3 {
    font-size: 16px;
  }

  nav .nav-items {
    display: none;
  }

  .btn button {
    display: none;
  }

  nav #menu-icon {
    display: block;
    position: absolute;
    top: 8;
    right: 10px;
  }

  #mobile-menu.show {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: white;
    padding: 20px;
  }

  #mobile-menu .nav-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #mobile-menu .nav-items a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid black;
  }

  #mobile-menu .btn button {
    display: block;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
  }

  .prompt-input textarea {
    width: 100%;
    padding: 10px;
    height: 70px;
    outline: none;
    border: none;
  }

  .prompt-input button {
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    padding: 8px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
  }
}
